@font-face {
  font-family: Cubano;
  src: url(fonts/Cubano.ttf);
}
body{
  height: 100vh;
  background-image: linear-gradient(#d8c7ff, #1357af);
  font-family: 'Cubano';
}
*{
  margin: 0;
  padding: 0;
}

